.historycard {
  width: 100%;
  height: 100px;
  background-color: #F7F7FB;
  margin-top: 10px;

  font-family: Roboto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 5px;

  border-top: 1px solid #6F7480;
}

.historycard img {
  width: 70px;
  height: 70px;
}

@media(max-width: 550px){
  .historycard {
    flex-direction: column;
  }
}