.history {
  max-width: 90vw;
  min-width: 750px;
  height: 500px;
  background-color: #F7F7FB;
  border-radius: 8px;
  box-shadow: 0px 13px 9px 4px rgba(0,0,0,0.12);

  font-family: Roboto;

  display: flex;
  flex-direction: column;
  padding: 20px;

  overflow: auto;
}

.history .historytitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.history .historytitle h1 {
  font-size: 1.8em;
}

.history .historytitle button {
  width: 170px;
  height: 40px;
  border-radius:  50px;
  outline: none;
  font-size: 1.1em;
  border: 1px solid #6F7480;
  background-color: #F7F7FB;
  color: #161A22;
}

.history .historytitle button:hover {
  cursor: pointer;
  border-color:#161A22;
  background-color: #F2F2F5;
  color: #161A22;
}

.history .historytitle button:active {
  box-shadow: 5px 5px 15px 7px rgba(0,0,0,0.3);
}

@media(max-width: 765px){
  .history {
    min-width: 95vw;
  }
  .history .historytitle {
    flex-direction: column;
    align-items: center;
  }
}